/* Central widget when window is normal */
#central_widget {
    background-color: #e4e9eb;
    border: 2px solid #4b6269;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

/* Page Container */
#page_container {
    border: 0px solid #FFFFFF;
    border-radius: 8px 0px 0px 0px;
}

/* Webview */
#web_view {
    border: 0px solid #FFFFFF;
    border-radius: 8px 0px 0px 0px;
}