/* Title Bar */
#title_bar {
    background: transparent;
    min-height: 32px;
    max-height: 32px;
}

/* File Btn */
#file_btn {
    color: #334a51;
    min-height: 16px;
    max-height: 16px;
    border: none;
    font-size: 14px;
    padding: 4px;
    vertical-align: middle;
}

#file_btn:hover {
    background: #cee7ef;
    border: 0px solid #cee7ef;
    border-radius: 6px;
}

/* Help Btn */
#help_btn {
    color: #334a51;
    min-height: 16px;
    max-height: 16px;
    border: none;
    font-size: 14px;
    padding: 4px;
    vertical-align: middle;
}

#help_btn:hover {
    background: #cee7ef;
    border: 0px solid #cee7ef;
    border-radius: 6px;
}

#help_btn:pressed {
    background: #cee7ef;
    border: 0px solid #cee7ef;
    border-radius: 6px;
}

/* App Title */
#app_title {
    color: #334a51;
    min-height: 16px;
    max-height: 16px;
    font-size: 14px;
    padding: 4px;
}

/* CLose Btn */
#close_btn {
    min-height: 16px;
    max-height: 16px;
    min-width: 16px;
    max-width: 16px;
    qproperty-icon: url(:/icons/icons/close_icon_material_blue_light.svg);
    border: none;
}

#close_btn:hover {
    background: #cee7ef;
    border: 0px solid #cee7ef;
    border-radius: 6px;
}

#close_btn:pressed {
    background: #334a51;
    border: 0px solid #334a51;
    border-radius: 6px;
}

/* Minimize Btn */
#minimize_btn {
    min-height: 16px;
    max-height: 16px;
    min-width: 16px;
    max-width: 16px;
    qproperty-icon: url(:/icons/icons/minimize_icon_material_blue_light.svg);
    border: none;
}

#minimize_btn:hover {
    background: #cee7ef;
    border: 0px solid #cee7ef;
    border-radius: 6px;
}

#minimize_btn:pressed {
    background: #334a51;
    border: 0px solid #334a51;
    border-radius: 6px;
}

/* Maximize Btn */
#maximize_btn {
    min-height: 14px;
    max-height: 14px;
    min-width: 14px;
    max-width: 14px;
    qproperty-icon: url(:/icons/icons/maximize_icon_material_blue_light.svg);
    border: none;
}

#maximize_btn:hover {
    background: #cee7ef;
    border: 0px solid #cee7ef;
    border-radius: 6px;
}

#maximize_btn:pressed {
    background: #334a51;
    border: 0px solid #334a51;
    border-radius: 6px;
}

/* Navigation Rail */
#navigation_rail {
    min-width: 96px;
    max-width: 96px;
    height: 100%;
}

/* FAB */
#fab {
    background: #CEE7EF;
    min-width: 56px;
    max-width: 56px;
    min-height: 56px;
    max-height: 56px;
    border: 0px solid #CEE7EF;
    border-radius: 16px;
}